.upper-menu {
  display: flex;
  align-items: center;
  height: 88px;
  list-style: none;

  &__burger {
    background-image: url('../img/burger.png');
    background-size: cover;
  }

  &__logo {
    flex: 1 1 auto;
  }

  &__call {
    background-image: url('../img/call.png');
    background-size: cover;
  }

  &__chat {
    background-image: url('../img/chat.png');
    background-size: cover;
  }

  &__profile {
    background-image: url('../img/profile.png');
    background-size: cover;
  }

  &_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background-image: url('../img/divider.png');
    background-size: cover;
  }

  &__repair {
    background-image: url('../img/repair.png');
    background-size: cover;
  }

  &__check-status {
    background-image: url('../img/check-status.png');
    background-size: cover;
  }

  //   &_visible {
  //     position: static;
  //     visibility: visible;
  //     opacity: 1;
  //   }
}
