.page {
  font-family: $mainFont;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.2px;
  background-color: $color-page;

  &__header {
    margin-bottom: 24px;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
