$mainFont: 'TTLakes', sans-serif;

$desktopWidth: 1440px;
$tableWidth: 768px;
$phoneWidth: 360px;
$smPhoneWidth: 320px;

// Pagination color
$pagination-base: #dddddd;
$pagination-active: #b5b6bc;

// Main color
$color-page: #f8f8f8;
$color-default: #ffffff;

//Shadow color
$color-shadow: #d9fff5;
